# The Pandas Series Object

In [1]:
import numpy as np
import pandas as pd

In [4]:
data = pd.Series([0.25,0.5,0.75,1.0])
print(data)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [6]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
print(data[1])
print(data[1:3])

0.5
1    0.50
2    0.75
dtype: float64

In [11]:
#Explicitly defined index
data = pd.Series([0.25,0.5,0.75,1.0],index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [12]:
data['b']

0.5

In [18]:
#Series as specialized dictionary
population_dict = {'California': 38332521,
'Texas': 26448193,
'New York': 19651127,
'Florida': 19552860,
'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [17]:
#Constructing Series objects
pd.Series(5,index=[100,200,300])

100    5
200    5
300    5
dtype: int64

# The Pandas DataFrame Object

In [19]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [22]:
States = pd.DataFrame({'Population':population,'Area':area})
States

            Population    Area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [23]:
States.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [24]:
States.columns

Index(['Population', 'Area'], dtype='object')

In [26]:
#DataFrame as specialized dictionary
States['Area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: Area, dtype: int64

In [27]:
#Constructing DataFrame objects
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [29]:
#From a list of dicts.
data = [{'a':i,'b':2*i} for i in range(3)]
data

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [30]:
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [31]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [32]:
#From a dictionary of Series objects
pd.DataFrame({'population': population,
'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [33]:
#From a two-dimensional NumPy array
pd.DataFrame(np.random.rand(3, 2),columns=['foo', 'bar'],index=['a', 'b', 'c'])

        foo       bar
a  0.505022  0.005645
b  0.231801  0.213682
c  0.667288  0.813678

In [34]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [35]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

# The Pandas Index Object

In [40]:
ind = pd.Index([2,3,4,5,7])
print(ind)

Int64Index([2, 3, 4, 5, 7], dtype='int64')

In [38]:
ind[1]

3

In [41]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [42]:
#Index as ordered set
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [47]:
indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')

In [48]:
indA.union(indB)

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [49]:
indA.symmetric_difference(indB)

Int64Index([1, 2, 9, 11], dtype='int64')